* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background-color: #ee5151;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stopwatch {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    text-align: center;
}

/* TIMER DISPLAY */
.timer-display {
    color: white;
    font-size: 5em;
    letter-spacing: 0.1em;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}


/* BUTTONS */
.buttons {
    display: flex;
    justify-content: center;
    gap: 2em;
}

button {
    padding: 0.5em;
    background-color: rgb(232, 203, 38);
    border: none;
    border-radius: 999px;
    font-size: 1.5em;
    width: 7em;
    height: 2.7em;
    margin-top: 2em;
    color: #fff;
    cursor: pointer;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 1s ease, transform 0.1s ease;
}

button:hover {
    background-color: rgb(241, 214, 138);
}


